name: publish-drivers

on:
  push:
    branches:
      - main
#      - beta
    paths:
      - "drivers/**.yaml"
      - "drivers/**.yml"
      - "drivers/**.lua"
#  pull_request:
#    branches:
#      - main
#      - beta
#    paths:
#      - "drivers/**.yaml"
#      - "drivers/**.yml"
#      - "drivers/**.lua"

jobs:
  # Job to run change detection
  parse-changes:
    name: "Parse Push/Pull Changes"
    runs-on: ubuntu-latest
    # Required permissions
    permissions:
      pull-requests: read
    # Set matched filters as job 'drivers' output variable
    outputs:
      drivers: ${{ steps.filter.outputs.changes }}
    steps:
      - name: "Fetching Repository Contents"
        uses: actions/checkout@v3
        id: checkout
      - name: "Filter Paths"
        uses: dorny/paths-filter@v2
        id: filter
        with:
          filters: |
            zwave-switch: 'drivers/**/zwave-switch/**'
            zwave-fan: 'drivers/**/zwave-fan/**'
  
  build-matrix:
    name: "Build Driver Matrix"
    needs: parse-changes
    if: needs.parse-changes.outputs.drivers != '[]'
    name: "Configure Matrix"
    uses: ./.github/workflows/build-matrix.yml
    id: set-matrix
    with:
      # inputFile: '.github/workflows/matrix_includes.json' # Default input file path
      filter: 'drivers[?contains(${{ needs.parse-changes.outputs.drivers }}, driver)]'
      # addInclude: true

  publish-drivers:
    name: "Publish Driver"
    needs: build-matrix
    if: needs.build-matrix.outputs.matrix != '[]'
    strategy:
      matrix: ${{ fromJson(needs.build-matrix.outputs.matrix) }}
    uses: ./.github/workflows/publish-smartthings-driver.yml
    with:
      driver: ${{ matrix.driver }}
      label: ${{ matrix.label }}
      pkgkey: ${{ matrix.pkgkey }}
      environment: ${{ github.base_ref || github.ref_name }}
    secrets: inherit
